<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" th:href="@{/blog/admin/dist/img/favicon.png}"/>
<link rel="stylesheet" th:href="@{/blog/admin/dist/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/blog/admin/dist/css/ionicons.min.css}">
<link rel="stylesheet" th:href="@{/blog/admin/dist/css/main.css}">
<link rel="stylesheet" th:href="@{/blog/admin/plugins/bootstrap/css/bootstrap.css}"/>
<link rel="stylesheet" th:href="@{/blog/admin/plugins/sweetalert/sweetalert.css}"/>
<link rel="stylesheet" th:href="@{/blog/admin/plugins/jqgrid-5.3.0/ui.jqgrid-bootstrap4.css}"/>
<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
<!-- head -->

<body class="gray-bg">

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">标签管理</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <div class="grid-btn">
                        <input type="text" class="form-control col-1" id="tagName" name="tagName"
                                   placeholder="标签名称" required="true">&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-info" onclick="tagAdd()"><i
                                class="fa fa-plus"></i>&nbsp;新增
                        </button>
                        <button class="btn btn-danger" onclick="deleteTag()"><i
                                class="fa fa-trash-o"></i>&nbsp;删除
                        </button>
                    </div>
                    <table id="jqGrid" class="table table-bordered">
                    </table>
                    <div id="jqGridPager"></div>
                </div><!-- /.card-body -->
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->

<!-- jQuery -->
<script th:src="@{/blog/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/blog/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/blog/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/blog/admin/dist/js/adminlte.min.js}"></script>
<!-- jqgrid -->
<script th:src="@{/blog/admin/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/blog/admin/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/blog/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/blog/admin/dist/js/public.js}"></script>
<script th:src="@{/blog/admin/dist/js/tag.js}"></script>
</body>
</html>
